@import "../../scss/mixins.scss";
.nav__btn {
    z-index: 13;
    cursor: pointer;
    margin: 1rem;
    @include easeOut;
  }
  .nav__btn:focus {
    outline: none;
  }
  .nav__line {
    width: 2rem;
    height: 0.2rem;
    margin-bottom: 5px;
    background-color: $black;
  }
  .btn__rotate:focus {
    outline: none;
  }
  .btn__rotate {
    z-index: 13;
    cursor: pointer;
    margin: 1rem;
    transform: rotate(180deg);
    @include easeOut;
    .nav__line {
      width: 2rem;
      height: 0.2rem;
      margin-bottom: 5px;
      background: $black;
      @include easeOut;
      &:nth-child(1) {
        transform: rotate(45deg) translate(2px, 5px);
      } 
      &:nth-child(2) {
        transform: rotate(-45deg) translate(1px, -3px);
      }
    }
  }